   ion-content {
       --ion-background-color: transparent;
   }

   ion-item {
       --ion-background-color: transparent;
   }

   .chatPage {
       position: absolute;
       top: 25px;
       left: 140px;
       color: #ccc;
       font-size: 18px;
       text-transform: capitalize;
   }

   .chatBackground {
       // background-image: url(assets/imgs/chatbg.jpg);
       background-size: cover;
   }

   .text-input-md,
   .text-input-ios {
       text-align: left !important;
       font-size: 17px;
   }

   .list-header-md,
   .list-header-ios {
       padding-left: 16px;
       margin-bottom: 13px;
       min-height: 4.5rem;
       border-top: 1px solid #dedede;
       font-size: 2.4rem;
       color: #fff;
       background: transparent;
   }

   .label-md,
   .label-ios {
       margin: 0px !important;
   }

   .item-md,
   .item-ios {
       margin-top: -13px !important;
   }

   .item-md.item-block .item-inner,
   .item-ios.item-block .item-inner {
       border: none;
   }

   ion-footer {
       position: sticky;
       bottom: 0;
   }

   button {
       background: transparent;
       font-size: 33px;
   }