.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: block;
    position: fixed;
    vertical-align: middle;
    text-align: center;
}

.container img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}