<ion-content>
    <div (click)="close()" text-center style="margin-top:40px;">
        <ion-icon color="light" name="md-close" style="font-size: 30px"></ion-icon>
    </div>
    <div class='modalShown'>
        <!--         <div style="margin-top: 50px;text-align: center;">
            <img class="splPp" src="assets/imgs/logo.svg">
        </div> -->
        <div class="upgradeSlider">
            <div style="">
                <div style="    color: var(--ion-color-red);
    font-size: 50px;
    text-align: center;
    padding: 30px 0px 0px 0px;">
                    <ion-icon name="md-star"></ion-icon>
                </div>
                <div style="margin-bottom: 20px;padding:0px 20px;" text-center>
                    <h3>More star points</h3>
                    <div>Get 10 star points everyday to send more messages and create posts.</div>
                </div>
            </div>
            <!--     <ion-slides pager="true">
      <ion-slide>
        <div style="height: 130px;">
            <div ion-fab color="teal">
              <ion-icon name="md-mail"></ion-icon>
            </div>
          <div style="margin-top:80px;padding:0px 20px;" text-center>
            <h3>Break the ice!</h3>
            <div>Send more messages and increase your chances of a chat.</div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="height: 130px;">
            <div ion-fab color="teal">
              <ion-icon name="md-star"></ion-icon>
            </div>
          <div style="margin-top:80px;padding:0px 20px;" text-center>
            <h3>More star points</h3>
            <div>Get 10 star points everyday to send more messages and create posts.</div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div style="height: 130px;">
            <div ion-fab color="teal">
              <ion-icon name="md-eye"></ion-icon>
            </div>
          <div style="margin-top:80px;padding:0px 20px;" text-center>
            <h3>Increased visibility</h3>
            <div>Be displayed more often than others and receive more messages.</div>
          </div>
        </div>
      </ion-slide>
    </ion-slides> -->
        </div>
        <div>
            <ion-row>
                <ion-col *ngFor="let product of products; let i=index;" class="plan" (click)="selectPlan(product.productId)" [class.activeHighlight]=checkActive(product.productId)>
                    <div class="mTitle">{{plans[i]}}</div>
                    <div><span *ngIf="plans[i] != 1">months</span> <span *ngIf="plans[i] == 1">month</span> </div>
                    <div class="pMonth">$ {{(product.priceAsDecimal/plans[i]).toFixed(2)}}/month</div>
                    <div>{{product.price}}</div>
                </ion-col>
            </ion-row>
        </div>
        <div align="center" style="padding-top:10px;">
            <div (click)="upgrade()" class="splpptext">Upgrade to Pro</div>
        </div>
        <!--   <div showWhen='ios' class="subText" text-center>
    <div text-center><b>You can cancel at any time.</b></div>
    When you purchase this subscription, the amount of {{getPlanPrice()}} will be deducted from your iTunes account. 24 hours before the expiry of the current subscription term, your account will be charged with {{getPlanPrice()}} for a renewal. After a purchase, the automatic renewal can be cancelled anytime in the iTunes Store.
  </div> -->
    </div>
</ion-content>